<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Gestor Personas </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/general.css' %}" >
</head>
<body>
    <h2> Aqui deberia ir el menu </h2>
    <a href="{% url 'persona_login' %}" > login </a> <br>
    <a href="{% url 'persona_logout' %}" > logout </a>

    {% block content %}
    {% endblock %}


</body>
</html>